*{
  text-align: center;
}

hr {
  margin: 20px;
}
#filmbox{
  border: 1px solid black;
  margin: 20px;
  padding: 5px;
  background-color: rgb(228, 224, 224);
}
li{
  margin:10px;
  display: flex;
}

#upcoming{
  border: 1px solid black;
  background-color: rgb(68, 93, 234);


}

#upcoming > a {
  text-decoration: none;
}